
html
    head   
        title GAME OF THRONES 
    body
        h1 
            b lakeHub creations
        p
          h3 Game of thrones spoilers!
        ol
            each episode in list
                li=episode